<h1 class="admin_main_visual"><%= @member.last_name %><%= @member.first_name %>さんの会員情報編集</h1>
  <tr><th>会員ID</th><td><%= @member.id %></td></tr>
</table>

<%= form_with model: @member, url: admin_member_path, local: true do |member| %>
  <table>
    <tr>
      <th><%= member.label :氏名 %></th>
      <td><%= member.text_field :last_name %><%= member.text_field :first_name %></td>
    </tr>
    <tr>
      <th><%= member.label :フリガナ %></th>
      <td><%= member.text_field :kana_last_name %><%= member.text_field :kana_first_name %></td>
    </tr>
    <tr><th><%= member.label :郵便番号 %></th><td><%= member.text_field :postcode %></td></tr>
    <tr><th><%= member.label :住所 %></th><td><%= member.text_field :address %></td></tr>
    <tr><th><%= member.label :電話番号 %></th><td><%= member.text_field :phone_number %></td></tr>
    <tr><th><%= member.label :メールアドレス %></th><td><%= member.text_field :email %></td></tr>
    <tr>
      <th>会員ステータス</th>
      <td>
        <%= member.radio_button :is_delete, :false,checked: true %>
        <%= member.label :is_delete, "有効", {value: :false} %>
        <%= member.radio_button :is_delete, :true,checked: false %>
        <%= member.label :is_delete, "退会済み", {value: :true} %>
      </td>
    </tr>
  </table>
  <%= member.submit "変更を保存する"%>
<% end %>