<table><tr><th></th><td><%= @member.first_name %><%= @member.last_name %>さんの会員詳細</td></tr></table>

<table>
  <tr><th>顧客ID</th><td><%= @member.id %><%= @member.is_delete %></td></tr>
  <tr><th>氏名</th><td><%= @member.first_name %></td><td><%= @member.last_name %></td></tr>
  <tr><th>フリガナ</th><td><%= @member.kana_first_name %></td><td><%= @member.kana_last_name %></td></tr>
  <tr><th>郵便番号</th><td><%= @member.postcode %></td></tr>
  <tr><th>住所</th><td><%= @member.address %></td></tr>
  <tr><th>電話番号</th><td><%= @member.phone_number %></td></tr>
  <tr><th>メールアドレス</th><td><%= @member.email %></td></tr>
</table>

<%= link_to "編集する", edit_admin_member_path(@member) %>
<%= link_to "注文履歴一覧を見る", admin_orders_path %>