<div class="container">
  <h1 class="admin_main_visual">商品編集</h1>
  <div class="row">
    <%= form_with model: @item, url: admin_item_path(@item), local: true do |item| %>
      <div class="col-xs-4">
        <div class="item-image">
          <%= attachment_image_tag @item, :image, class:"img-square", fallback: "no_image.jpg", size:"200x160" %>
          <%= item.attachment_field :image, placeholder: "画像" %>
        </div>
        <script>
          $(function(){
              $("#item_image").on("change", function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $(".image").attr("src", e.target.result);
              }
              reader.readAsDataURL(e.target.files[0]);
          });
          });
        </script>
      </div>
      <div class="col-xs-8">
          <table class="table">
            <tr><th>商品名</th><td><%= item.text_field :name %></td></tr>
            <tr><th>商品説明</th><td><%= item.text_area :explanation %></td></tr>
            <tr><th>ジャンル</th><td><%= item.collection_select :genre_id, Genre.all, :id, :name %></td></tr>
            <tr><th>税抜価格</th><td><%= item.text_field :price %>円</td></tr>
            <tr><th>販売ステータス</th><td><%= item.select :is_active, [["販売中", true], ["売り切れ中", false]] %></td></tr>
          </table>
            <%= item.submit "変更を保存する", class:"btn btn-primary item" %>
        <% end %>
      </div>
  </div>
  </div>
</div>
