<header class= "header_ransack">
  <%= search_form_for @search, url: admin_items_path do |f| %>
    <!-- nameカラムに対して部分一致検索ができる -->
    <!-- _cont部分一致, _eq等しい, _not_eq等しくない -->
    <%= f.search_field :name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</header>

<div class="container">
  <h1 class="admin_main_visual">商品一覧</h1>
  <div class="text-right">
    <%= link_to new_admin_item_path, class:"btn btn-default" do %>
      <i class="nav-link active text-right"></i>+</li>
    <% end %>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% if @results.any? %>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.id %></td>
              <td><%= link_to result.name, admin_item_path(result) %></td>
              <td><%= result.price %></td>
              <td><%= result.genre.name %></td>
              <td><%= result.is_active == true ? "販売中" : "売り切れ"  %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>