
<% if @item.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="container">
  <h1 class="admin_main_visual">商品新規登録</h1>
  <div class="row">
    <%= form_with model: @item, url: admin_items_path, local: true do |item| %>
      <div class="col-xs-4">
        <div class="item-image">
          <%= attachment_image_tag @item, :image, class:"img-square", fallback: "no-image.jpg", size:"200x160" %>
          <%= item.attachment_field :image, placeholder: "画像" %>
        </div>
        <script>
          $(function(){
              $("#item_image").on("change", function (e) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  $(".image").attr("src", e.target.result);
              }
              reader.readAsDataURL(e.target.files[0]);
          });
          });
        </script>
      </div>
      <div class="col-xs-8">
        <table class="table table-borderless">
          <tr>
            <th><%= item.label :商品名 %></th>
            <td><%= item.text_field :name %></td>
          </tr>
            <th><%= item.label :商品説明 %></th>
            <td><%= item.text_area :explanation %></td>
          <tr>
            <th><%= item.label :ジャンル %></th>
            <td><%= item.collection_select :genre_id, Genre.where(is_active: true), :id, :name %></td>
          </tr>
          <tr>
            <th><%= item.label :税抜価格 %></th>
            <td><%= item.text_field :price %>円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td><%= item.select :is_active, [["販売中", true], ["売り切れ中", false]] %></td>
          </tr>
          <tr>
            <td><%= item.submit '新規登録', class:"btn btn-primary" %></td>
            <td></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
