<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <table class="table">

        <%= render 'member/items/genre_search', genres: @genres %>

      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10">

        <% if params[:genre_id].present? %>
          <h2><%= @genre.name %>一覧 (全<%= @items.count %>件)</h2>
        <% else %>
          <h2>商品一覧 (全<%= @items.count %>件)</h2>
        <% end %>
          
          <%= render 'member/items/items_each', items: @items %>

        </div>
      </div>
    </div>
  </div>
  <%= paginate @items %> 
</div>   
