
<h1>ヘッダー</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <table class="table">
        <h4>ジャンル検索</h4>
        <% @genres.each do |genre| %>
          <%= genre.name %><br>
        <% end %>
      </table>
    </div>

    <div class="col-xs-10">
      <h2>商品一覧 (全<%= @items.count %>件)</h2>
      <table class="table">
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :image, :fill, 180, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
            <p><%= item.name %></p>
            <p>¥<%= item.price %></p>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>

<%= paginate @items %>
  