<div class="container">
  <div class="row content">

      <%= render 'member/items/genre_search', genres: @genres %>

    <div class="container">
      <div class="row">
        <div class="col-xs-10">

        <% if params[:genre_id].present? %>
          <h2><%= @genre.name %>一覧 (全<%= @item_all.count %>件)</h2>
        <% else %>
          <h2>商品一覧 (全<%= @item_all.count %>件)</h2>
        <% end %>

          <%= render 'member/items/items_each', items: @items %>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= paginate @items %>
</div>