<div class="container">
  <div class="row content">
        <%= render 'member/items/genre_search', genres: @genres %>
    <div class="col-xs-6">
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no-image.jpg", size: "400x300" %>
      <p><%= @item.name %></p>
      <p><%= @item.explanation %></p>
      <p>¥<%= tax_price(@item.price).to_s(:delimited) %>（税込）</p>

      <%= form_with model: @cart_item, url: members_cart_items_path, local: true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>

        <% if @item.is_active == true %>
          <%= f.select :quantity, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9]], include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% else %>
          <p class="soldout">売切れ中</p>
        <% end %>
          
      <% end %>
    </div>
  </div>
</div>