<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h3 class="glay-label">
      <%= f.label :sign_up %>
    </h3>
    <%= render "members/shared/error_messages", resource: resource %>
    <table class="table">
        <tr>
          <th><%= f.label :"名前" %></th>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder:"姓" %>
              <%= f.text_field :first_name, autocomplete: "first_name", placeholder:"名" %></td>
        </tr>
        <tr>
          <th><%= f.label :"フリガナ" %></th>
          <td><%= f.text_field :kana_last_name, autocomplete: "kana_last_name", placeholder:"セイ" %>
            <%= f.text_field :kana_first_name, autocomplete: "kana_first_name", placeholder:"メイ" %></td>
        </tr>

        <tr>
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autocomplete: "email", size: 43 %></td>
        </tr>

        <tr>
          <th><%= f.label :postcode %></th>
          <td><%= f.text_field :postcode, autocomplete: "postcode" %></td>
        </tr>

        <tr>
          <th><%= f.label :prefecture_code %></th>
          <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, class: "address" %></td>
        </tr>

        <tr>
          <th> <%= f.label :address %></th>
          <td><%= f.text_field :address, autocomplete: "address", size: 43 %></td>
        </tr>

        <tr>
         <th> <%= f.label :phone_number %></th>
          <td><%= f.text_field :phone_number, autocomplete: "phone_number" %></td>
        </tr>

        <tr>
          <th><%= f.label :password %></th>
          <td><% if @minimum_password_length %>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %></td>
        </tr>

        <tr>
          <th><%= f.label :password_confirmation %></th>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
    </table>

    <div class="actions">
      <%= f.submit t('.sign_up'),class: "btn btn-success" %>
    </div>
  <% end %>


  <h4 class="glay-label">
    既に登録済みの方はこちら
  <%= render "members/shared/links" %>
  </h4>
</div>