<!-- ヘッダー部分 -->
<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "NaganoCake", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if member_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_member_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_member_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_member_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>


<!-- サイドバー（部分テンプレート） -->

<!-- メイン部分 -->
<div class="row">
  <p class="main-visual-text">
    ようこそ、NaganoCakeへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
  </p>


  <%= link_to "もっと見る", items_path %>

<end>

