<div class="container">
  <div class="row">
    <p class="main-visual-text">
      ようこそ、NaganoCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>
    </p>

    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <%= attachment_image_tag item, :image, format: 'jpeg', fallback: "no-image.jpg", size: "160x120" %><br>
        <%= item.name %></td>
        <p>¥<%= item.price.to_s(:delimited) %></p>
      <% end %>
    <% end %>

    <%= link_to "もっと見る", items_path %>
  </div>
</div>