<div class="container">
  <div class="row">
	<h4>配送先登録/一覧</h4>
	<div class="col-xs-6">
		<table class="table">
			<%= form_with model: @delivery_address, url: members_delivery_addresses_path, local: true do |f| %>
				<tr>
					<th>郵便番号(ハイフンなし)</th>
					<td><%= f.text_field :postcode %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<th>宛名</th>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<th><%= f.submit "登録する", class:"btn btn-success" %></th><td></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="col-xs-8">
		<table class="table">
				<thead>
					<tr>
						<th>郵便番号</th>
						<th>住所</th>
						<th>宛名</th>
						<th></th>
					</tr>
				</thead>
			<% @delivery_addresses.each do |delivery_address| %>
				<tr>
					<td><%= delivery_address.postcode %></td>
					<td><%= delivery_address.address %></td>
					<td><%= delivery_address.name %></td>
					<td>
						<%= link_to "編集する", edit_members_delivery_address_path(delivery_address), class:"btn-primary" %>
						<%= link_to "削除する", members_delivery_address_path(delivery_address), method: :delete, class:"btn-danger" %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
  </div>
</div>
