<h1>Member::Orders#confirm</h1>

<%= form_with(model: @order, url: orders_path, local: true) do |f| %>
  <% @cart_items.each do |cart_item| %>
    <%= cart_item.item.name %>
    <%= cart_item.item.price %>
    <%= cart_item.quantity %>
  <% end %>
  <%= f.submit "購入を確定する" %>
<% end %>