<div class="container">
  <div class="row">

    <label>注文履歴一覧</label>

    <table class="table">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
      <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td>
              <%= order.postcode %><br>
              <%= order.address %><br>
              <%= order.name %><br>
            </td>
            <td>
            <% order.order_details.each do |order_detail| %>
              <%= order_detail.item.name %><br>
            <% end %>
          </td>

          <td><%= order.total_price %></td>
        <% if order.status == 0 %>
          <td><%= "入金待ち" %></td>
        <% elsif order.status == 1 %>
          <td><%= "入金確認" %></td>
        <% elsif order.status == 2 %>
          <td><%= "製作中" %></td>
        <% elsif order.status == 3 %>
          <td><%= "発送準備中" %></td>
        <% else order.status == 4 %>
          <td><%= "発送済み" %></td>
        <% end %>
        <td><%= link_to "表示する", order_path(order) %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
