<h1>注文情報入力</h1>

<%= link_to "情報入力に進む", orders_confirm_path %>
<h2>支払方法</h2>

  <%= form_with(model: @order, url: new_order_path, local: true) do |f| %>
      <p><%= f.radio_button :payment_method, 0 %>クレジットカード</p>
      <p><%= f.radio_button :payment_method, 1 %>銀行振込</p>
      <p><%= f.radio_button :payment_method, 2 %>代引き</p>
  <% end %>

<h2>お届け先</h2>



<%= form_with(model: @order, url: orders_path,local: true) do |f| %>

       <%= f.submit "確認画面へ進む", class: "btn btn-danger"%>

  <% end %>