<div class="container">
	<h4>登録情報編集</h4>
	<div class="col-lg-8">
		<%= form_with model: @member, url: members_path, local: true do |f|  %>
		<table class="table">
			<tr>
				<th>名前</th>
				<td><%= f.text_field :last_name, placeholder:"姓" %>
					<%= f.text_field :first_name, placeholder:"名" %></td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td><%= f.text_field :kana_last_name, placeholder:"セイ" %>
					<%= f.text_field :kana_first_name, placeholder:"メイ" %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= f.text_field :email %></td>
			</tr>

			<tr>
				<th>郵便番号(ハイフンなし)</th>
				<td><%= f.text_field :postcode %></td>
			</tr>

			<tr>
				<th>住所</th>
				<td><%= f.text_field :address %></td>
			</tr>

			<tr>
				<th>電話番号（ハイフンなし）</th>
				<td><%= f.text_field :phone_number %></td>
			</tr>
		</table>
				<%= f.submit "編集内容を保存する", class:"btn btn-primary" %><br>
				<%= link_to "退会する", members_resignation_path, class:"btn btn-danger" %>
		<% end %>
	</div>

</div>


