<!-- ヘッダー部分 -->
<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "NaganoCake", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if member_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_member_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_member_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_member_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>


<h4>マイページ</h4>
<rabel>登録情報</rabel>
<%= link_to "編集する", edit_members_path, class: "btn-sm btn-success" %>
<%= link_to "パスワードを変更する", edit_member_registration_path, class: "btn-sm btn-success" %>
<table class="table">
	<tr>
		<td>氏名</td>
		<td><%= current_member.first_name %> <%= current_member.last_name %></td>
	</tr>
	<tr>
		<td>カナ</td>
		<td><%= current_member.kana_first_name %> <%= current_member.kana_last_name %></td>
	</tr>
	<tr>
		<td>郵便番号</td>
		<td><%= current_member.postcode %></td>
	</tr>
	<tr>
		<td>住所</td>
		<td><%= current_member.address %></td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td><%= current_member.phone_number %></td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td><%= current_member.email %></td>
	</tr>

<rabel>配送先</rabel>
<%= link_to "一覧を見る", members_delivery_address_index_path, class: "btn-sm btn-success" %>
<rabel>注文履歴</rabel>
<%= link_to "一覧を見る", items_path, class: "btn-sm btn-success" %>
