<!DOCTYPE html>
<html>
  <head>
    <title>CakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "商品新規登録画面", new_admin_item_path %>
    <%= link_to "ジャンル一覧・追加", admin_genres_path %>
    <%= link_to "商品一覧", admin_items_path %>

    <%= yield %>
  </body>
</html>
