<!DOCTYPE html>
<html>
  <head>
    <title>CakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <span class="navbar-toggler-icon">
            <div class="col-xs-3">
              <% if member_signed_in? %>
                <%= link_to image_tag("h_logo.jpg"), root_path %>
              <% elsif admin_signed_in? %>
                <%= link_to image_tag("h_logo.jpg"), admin_top_path %>
              <% else %>
                <%= link_to image_tag("h_logo.jpg"), root_path %>
              <% end%>
            </div>
          </span>
            <div class="col-xs-9">
              <div class="menu">
                <ul class="nav navbar-nav navbar-right">
                  <% if member_signed_in? %>
                    <p>ようこそ、<%= current_member.last_name %> <%= current_member.first_name %>さん！</p>
                    <li><%= link_to members_path(current_member), class:"btn btn-default" do %>
                      <i class="nav-link active"></i>マイページ</li><% end %>
                    <li><%= link_to items_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>商品一覧</li><% end %>
                    <li><%= link_to members_cart_items_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>カート</li><% end %>
                    <li><%= link_to destroy_member_session_path,  method: :delete, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>ログアウト</li><% end %>
                  <% elsif admin_signed_in? %>
                    <%= link_to admin_items_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>商品一覧</li><% end %>
                    <%= link_to admin_members_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>会員一覧</li><% end %>
                    <%= link_to admin_orders_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>注文履歴一覧</li><% end %>
                    <%= link_to admin_genres_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>ジャンル一覧</li><% end %>
                    <%= link_to destroy_admin_session_path, method: :delete, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>ログアウト</li><% end %>
                  <% elsif %>
                    <li><%= link_to about_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>About</li><% end %>
                    <li><%= link_to items_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>商品一覧</li><% end %>
                    <li><%= link_to new_member_registration_path, data: {"turbolinks"=>false}, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>新規登録</li><% end %>
                    <li><%= link_to new_member_session_path, class:"btn btn-default" do %>
                      <i class="nav-link active"></i>ログイン</li><% end %>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>